/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    width: 100%;
}

.quote {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    margin: 0 auto;
    border-bottom: 6px solid #ea676b;
}

h2 {
    margin: 0;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 68px;
    padding-left: 40px;
    letter-spacing: 0;
}

p.about {
    width: 940px;
    height: 17px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-top: 27px;
    margin-left: 40px;
    margin-bottom: 0px;
    text-align: justify;
}

.info {
    display: flex;
    margin-top: 50px;
}

input {
    width: 619px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    margin-bottom: 14px;
}

#describe {
    width: 615px;
    height: 199px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    resize: none;
}

::-webkit-input-placeholder{
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 14px;
    padding-top: 6px;
}

form {
    margin-top: 36px;
    margin-left:40px;
    width: 619px;
}

button {
    background:#f0d8d9;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    color: #767e9e;
    font-size: 18px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 35px;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 11px;
    letter-spacing: 0.02em;
}

.contact p  {
    width: 300px;
    height: 91px;
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
}

h4 {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.address a {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 0;
}

h4:first-child {
    margin-left: 3px;
}

.contact {
    margin-top: 18px;
    margin-left: 21px;
}

.address {
    margin-top: 16px;
}

.footer {
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    margin: 0 auto;
}

.location {
    margin-right: 14px;
}

.phone {
    margin-right: 12px;
}

.mail {
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: start;
}

a {
    text-decoration: none;
}

.copyright {
    margin: 33px 0 0 42px;
}

.links {
    margin-left: 693px;
    margin-top: 21px;
}

.links img {
    margin-right: 2px;
}

